.product {
  @include flex();

  &__item{
    width: calc(100% / 4);
    
    margin: $m-1;
    padding: $p-2;
    border-radius: 1rem;

    cursor: pointer;

    text-align: center;

    background-color: $primary-color;
  }

  &__image {
    padding: $p-2;
  }

  &__title {
    padding: $p-1;

    font-size: $font-20;
    font-weight: $font-w-500;

    color: $color-white;
  }

  &__description {
    padding: $p-1;

    color: $color-violet;
    line-height: 1.5;
  }
}



