$primary-color: #4d2268;
$secondery-color: #272727;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: gray;
$color-red: red;
$color-green: rgb(111, 215, 111);
$color-violet: violet;
$color-blue: rgb(104, 104, 139);
$color-violet--darken: rgb(50, 2, 50);

$font-8:8px;
$font-10: 10px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-28: 28px;
$font-32: 32px;
$font-36: 36px;
$font-48: 48px;
$font-80: 80px;

$font-w-100: 100;
$font-w-300: 300;
$font-w-400: 400;
$font-w-500: 500;
$font-w-700: 700;
$font-w-900: 900;

$font-family: 'poppins', sans-serif;

$p-0: 0;
$p-0-5: .5rem;
$p-1: 1rem;
$p-1-5: 1.5rem;
$p-2: 2rem;
$p-3: 3rem;
$p-4: 4rem;
$p-5: 5rem;
$p-6: 6rem;

$m-0: 0;
$m-0-5: .5rem;
$m-1: 1rem;
$m-1-5: 1.5rem;
$m-2: 2rem;
$m-3: 3rem;
$m-4: 4rem;
$m-5: 5rem;
$m-6: 6rem;